body {
    background-image: url(https://farm1.staticflickr.com/565/20394907235_9db0277ab0_b.jpg)
    
  }

  h1{
      color:black;
  }

  #directions{
    background-color: black;
    margin: 1rem;
  }
  #welcome{
      color:white;
  }
  p{
      color:white;
  }
  #footer{
      background-color: white;
      color:black;
      padding: 1rem;
  }
  #button{
      margin: 1rem
  }